body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.pexels-color{
    color:  #8303F9;
}
.pro-color{
    color: #FD896C;
}
.helf-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
    text-align: justify;
}
.helf-width img{
    width: 100%;
}
.hire-me{   
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, #8303F9,#FD896C);
    color: white;
    border-radius: 5px;
}
